body {
  background-color: #f8f8f8;
}
.exemat {
  color: #707070;
}
.gray {
  background-color: #ececec;
}
.gray-text {
  color: #707070;
}
.dark-green {
  color: #264653 !important;
}
.orange {
  background-color: #f4a261 !important;
  color: #fff !important;
}
.dark-orange {
  background-color: #e76f51 !important;
  color: #fff !important;
}
.nav-icon span {
  color: #264653;
}
.nav-information span {
  background-color: #264653;
  color: #fff;
}
.nav-information p {
  color: #264653;
}
.li-hover a {
  border-bottom: 2px solid #f8f8f8;
  transition: all 0.3s;
}
.li-hover a:hover,
.li-hover a:focus {
  border-bottom: 2px solid #264653;
  color: #264653 !important;
}
.nav-search-icon {
  border: 2px solid #264653;
  color: #264653;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-search:hover > .nav-search-icon {
  background-color: #264653;
  color: #fff;
}
.btn-login {
  background-color: #264653;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 991.98px) {
  .navbar {
    background-color: #fff;
    border-radius: 5px;
  }
  .nav-search-input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
  }
}

.dropdown-item-active:active {
  background-color: #f8f9fa !important;
}
.nav-search-mobile-icon {
  background-color: #264653;
  color: #fff;
}
.carousel-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.carousel-container .carousel-childs::before {
  background: linear-gradient(
    to bottom,
    rgba(4, 14, 39, 0) 0%,
    rgba(4, 14, 39, 0.7) 100%
  );
}
.carousel-badge {
  background-color: #2a9d8f;
  color: #fff;
}
.about-container {
  background-color: #fff;
}
.square-shape,
.square-shape-services,
.square-shape-post,
.square-shape-comment,
.square-shape-video,
.square-shape-location,
.square-shape-project,
.square-shape-project-two,
.square-shape-submit {
  background-color: #e0f2f1;
}
.btn-about {
  background-color: #264653;
  color: #fff;
}
.about-title {
  color: #f3f3f3;
}
.about-text {
  color: #264653;
}
.services-title {
  color: #264653;
}
.services-item {
  background-color: #e0f2f1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.151);
}
.customers-container {
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.customers-item {
  background-color: #264653;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.151);
}
.customers-item span i {
  color: #fff;
}
.services-btn {
  background-color: #e76f51;
  color: white !important;
}
.services-btn:hover {
  color: #fff;
}

.news-title,
.weblog-title,
.about-end,
.project-end {
  color: #ececec;
}
.footer-container {
  background-color: #264653;
}
.owl-prev:hover,
.owl-next:hover {
  background-color: #264653 !important;
}
.submit-comment-btn {
  background-color: #264653;
  color: #fff;
}
.submit-comment-btn:hover {
  background-color: #264653;
  color: #fff;
}
.comment-container {
  background-color: #fff;
  border: 1px solid #264653;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.suggested-item {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.read-more-btn,
.read-more-btn:hover {
  background-color: #f4a261;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

.drop-hover:hover {
  color: #264653 !important;
  border-bottom: 2px solid #264653 !important;
}
.drop-hover:hover a {
  color: #264653 !important;
}
.drop-hover {
  border-bottom: 2px solid #f8f8f8 !important;
}
.drop-link-hover:hover a {
  background-color: #264653;
  color: #fff !important;
}
.drop-link-hover a {
  background-color: #fff;
  border-bottom: 2px solid #f8f8f8 !important;
}
.footer {
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.18);
}
.btn-project,
.btn-project:hover {
  background-color: #32bea6;
  color: #fff;
}
.submit-project {
  color: #ececec;
}
